// $mainBgColor: #1d1326;
// $mainYellow: #f7ab00;
// $mainWhite: #fdfefc;
// $mainGrey: #a39eab;

$headerHeight: 80px;
$footerHeight: 0px;

$primary: orange;
$secondary: orangered;
$tertiary: white;
